#chat-container {
  float: inline-start;
    width: 300px;
    height: 150px;
    z-index: 10;
    background-color: rgba(202, 198, 237, 0.415); /* Optional background */
    margin: 10px;
  max-width: 550px;
  font: 15px arial, sans-serif;
  border-style: solid;
  border-color: rgba(44, 13, 73, 0.163);
  border-width: 3px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 15px;
  }
  #chatButton{
    background-color: rgba(200, 195, 189, 0.600);
    border-radius: 12px;
    border: none;
    width: 80px;
    height: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-left: 210px;

  }

  #chatInput{
    background-color: rgba(200, 195, 189, 0.600);
    border-radius: 12px;
    border: none;
    height: 25px;
    width: 200px;
    
  }

  #messages{
    background-color: rgba(200, 195, 189, 0.4); /* Optional background */
    border-radius: 12px;
    border: none;
    padding: 5px;
    width: 80%;
    height: 50%;
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  #user-n4me{
  background-color: rgba(202, 198, 237, 0.415); /* Optional background */
  height: 30px;
  font: 15px arial, sans-serif;
  border-style: solid;
  border-color: rgba(44, 13, 73, 0.163);
  border-width: 3px;
  border-radius: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px;

  }


  #user-name{
    background-color: rgba(200, 195, 189, 0.600);
    border-radius: 12px;
    border: none;
    height: 20px;
    width: 300px;
    max-width: 550px;
    padding-left: 5px;

  }